@property --gradient-stop {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@keyframes animate-in {
  0% {
    --gradient-stop: 0%;
    opacity: 1;
  }

  50% {
    --gradient-stop: 0%;
    opacity: 1;
  }

  100% {
    --gradient-stop: 1000%;
    opacity: 0;
  }
}

@keyframes animate-out {
  0% {
    --gradient-stop: 1000%;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    --gradient-stop: 0%;
    opacity: 1;
  }
}

body {
  font-family: "VT323", serif;
  font-weight: bold;

  overflow-x: hidden;

  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) var(--gradient-stop));
  animation: animate-in 2s forwards;
  pointer-events: none;
  z-index: 1;
}

#fade-out-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) var(--gradient-stop));

  z-index: -1;
}

#volume-control-box {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  cursor: pointer;

  z-index: 2;
}

#volume-icon {
  display: none;
}

.volume-svg {
  filter: drop-shadow(0 0 3px white) drop-shadow(0 0 3px white);
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  text-align: center;
}

@media (max-aspect-ratio: 1/1) {
  .player-select {
    min-width: 32vw;
    flex-basis: 33%;
  }

  #level-select-background-vertical {
    display: block;
  }

  #level-select-background-horizontal {
    display: none;
  }

  .pipe {
    width: 23.3333vh;
    height: 13.3333vh;

    position: absolute;

    cursor: pointer;

    z-index: 1;

    display: flex;
    align-items: center;
  }

  .pipe-horizontal {
    display: none;
  }

  #pipe-1-vertical {
    bottom: 13.3333vh;
    right: 0;
  }

  #pipe-2-vertical {
    bottom: 33.3333vh;
    right: 0;
  }

  #pipe-3-vertical {
    bottom: 53.3333vh;
    right: 0;
  }

  #pipe-4-vertical {
    bottom: 73.3333vh;
    right: 0;
  }

  .level-select-mario {
    width: 6.6667vh;

    position: absolute;

    bottom: 13.3333vh;
    right: 26.6667vh;
  }
}

@media (min-aspect-ratio: 1/1) {
  .player-select {
    min-height: 32vh;
    flex-basis: 12.5%;
  }

  #level-select-background-vertical {
    display: none;
  }

  #level-select-background-horizontal {
    display: block;
  }

  .pipe {
    width: 13.3333vw;
    height: 20vw;

    position: absolute;

    cursor: pointer;
  }

  .pipe-vertical {
    display: none;
  }

  #pipe-1-horizontal {
    bottom: 13.3333vw;
    left: 20vw;
  }

  #pipe-2-horizontal {
    bottom: 13.3333vw;
    left: 40vw;
  }

  #pipe-3-horizontal {
    bottom: 13.3333vw;
    left: 60vw;
  }

  #pipe-4-horizontal {
    bottom: 13.3333vw;
    left: 80vw;
  }

  #pipes-horizontal {
    z-index: 2;
  }

  .level-select-mario {
    width: 6.6667vw;

    position: absolute;

    bottom: 13.3333vw;
    left: 6.6667vw;
  }
}

.pipe.disabled {
  cursor: not-allowed;
}

.layout-vertical {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
}

#player-selector-page {
  left: 0;
  background-color: #5c94fc;
}

@keyframes hide-player-selector {
  0% {
    left: 0;
  }

  100% {
    left: -100vw;
  }
}

@keyframes show-player-selector {
  0% {
    left: -100vw;
  }

  100% {
    left: 0;
  }
}

.top-renderer {
  flex-basis: 40%;

  background: url(../images/logo.png) no-repeat center;
  background-size: contain;

  image-rendering: pixelated;

  margin: 2rem auto 0 auto;

  width: 80vw;
}

.middle-container {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;

  justify-content: center;
  align-items: center;

  padding: 0 2rem;
}

.middle-renderer {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-title {
  font-size: 2rem;

  margin-top: 0;
}

.player-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 2rem;
  margin-bottom: 1rem;
  cursor: pointer;

  z-index: 2;
}

.player-select:hover {
  background-color: #F16116;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.5rem #000;
}

@keyframes click-mario {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 100;
    opacity: 0;
  }
}

@keyframes click-mario-reverse {
  0% {
    scale: 30;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

.player-image {
  image-rendering: pixelated;

  width: 70%;

  margin: 2rem 0 0 0;
}

.player-text {
  flex-grow: 0;
  margin: 0px
}

.overworld-renderer {
  flex-basis: 15%;

  background-image: url(../images/overworld_ground.png);
  background-size: auto 50%;

  image-rendering: pixelated;
}

.back-button {
  position: fixed;
  left: 1rem;

  font-size: 2rem;
  font-weight: bold;

  cursor: pointer;

  display: none;

  z-index: 2;

  color: white;
  font-weight: lighter;

  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#level-selector-page {
  left: 100vw;

  background: rgb(0, 0, 0);

  image-rendering: pixelated;

  overflow-x: hidden;
}

#level-selector {
  display: none;
}

@keyframes show-level-selector {
  0% {
    left: 100vw;
  }

  100% {
    left: 0;
  }
}

@keyframes hide-level-selector {
  0% {
    left: 0;
  }

  100% {
    left: 100vw;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#level-select-background-vertical {
  height: 100vh;
  width: auto;

  position: absolute;
  right: 0;
}

#level-select-background-horizontal {
  height: auto;
  width: 100vw;

  position: absolute;
  bottom: 0;
}

#mario-jump {
  opacity: 0;
}

.level-select-image {
  z-index: 1;
}

@keyframes mario-jump-pipe1 {
  0% {
    bottom: 13.3333vw;
    left: 6.6667vw;
  }

  12.5% {
    bottom: 21.2206vw;
    left: 8.75vw;
  }

  25% {
    bottom: 27.3306vw;
    left: 10.8334vw;
  }

  37.5% {
    bottom: 31.6633vw;
    left: 12.9167vw;
  }

  50% {
    bottom: 34.2186vw;
    left: 15vw;
  }

  62.5% {
    bottom: 35vw;
    left: 17.0833vw;
  }

  75% {
    bottom: 33.9974vw;
    left: 19.1667vw;
  }

  87.5% {
    bottom: 31.2208vw;
    left: 21.25vw;
  }

  100% {
    bottom: 26.6667vw;
    left: 23.3333vw;
  }
}

@keyframes mario-jump-pipe2 {
  0% {
    bottom: 26.6667vw;
    left: 23.3333vw;
  }

  12.5% {
    bottom: 30.3125vw;
    left: 25.8333vw;
  }

  25% {
    bottom: 32.9167vw;
    left: 28.3333vw;
  }

  37.5% {
    bottom: 34.4792vw;
    left: 30.8333vw;
  }

  50% {
    bottom: 35vw;
    left: 33.3333vw;
  }

  62.5% {
    bottom: 34.4792vw;
    left: 35.8333vw;
  }

  75% {
    bottom: 32.9167vw;
    left: 38.3333vw;
  }

  87.5% {
    bottom: 30.3125vw;
    left: 40.8333vw;
  }

  100% {
    bottom: 26.6667vw;
    left: 43.3333vw;
  }
}

@keyframes mario-jump-pipe3 {
  0% {
    bottom: 26.6667vw;
    left: 43.3333vw;
  }

  12.5% {
    bottom: 30.3125vw;
    left: 45.8333vw;
  }

  25% {
    bottom: 32.9167vw;
    left: 48.3333vw;
  }

  37.5% {
    bottom: 34.4792vw;
    left: 50.8333vw;
  }

  50% {
    bottom: 35vw;
    left: 53.3333vw;
  }

  62.5% {
    bottom: 34.4792vw;
    left: 55.8333vw;
  }

  75% {
    bottom: 32.9167vw;
    left: 58.3333vw;
  }

  87.5% {
    bottom: 30.3125vw;
    left: 60.8333vw;
  }

  100% {
    bottom: 26.6667vw;
    left: 63.3333vw;
  }
}

@keyframes mario-jump-pipe4 {
  0% {
    bottom: 26.6667vw;
    left: 63.3333vw;
  }

  12.5% {
    bottom: 30.3125vw;
    left: 65.8333vw;
  }

  25% {
    bottom: 32.9167vw;
    left: 68.3333vw;
  }

  37.5% {
    bottom: 34.4792vw;
    left: 70.8333vw;
  }

  50% {
    bottom: 35vw;
    left: 73.3333vw;
  }

  62.5% {
    bottom: 34.4792vw;
    left: 75.8333vw;
  }

  75% {
    bottom: 32.9167vw;
    left: 78.3333vw;
  }

  87.5% {
    bottom: 30.3125vw;
    left: 80.8333vw;
  }

  100% {
    bottom: 26.6667vw;
    left: 83.3333vw;
  }
}

@keyframes mario-enter-pipe-horizontal {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(150%);
  }
}

@keyframes mario-enter-pipe-vertical {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(150%);
  }
}

.pipe-link {
  color: white;

  text-align: center;
  display: block;

  font-size: 1.5rem;
}