[submodule "ape/project1"]
	path = ape/project1
	url = git@github.com:cu-cs3220-spr25/project1-awtpi314.git
	branch = main
[submodule "ape/project2"]
	path = ape/project2
	url = git@github.com:cu-cs3220-spr25/project2-the-well-wishers.git
	branch = main
[submodule "project3"]
	path = ape/project3
	url = git@github.com:cu-cs3220-spr25/project3-the-well-wishers.git
	branch = main
[submodule "project4"]
	path = ape/project4
	url = git@github.com:cu-cs3220-spr25/project4-the-well-wishers.git
	branch = main
[submodule "project5"]
	path = ape/project5
	url = git@github.com:cu-cs3220-spr25/project5-the-well-wishers.git
	branch = main
[submodule "ape/project5"]
	path = ape/project5
	url = git@github.com:cu-cs3220-spr25/project5-the-well-wishers.git
	branch = main
[submodule "project6"]
	path = ape/project6
	url = git@github.com:cu-cs3220-spr25/project6-the-well-wishers.git
	branch = main
