<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Combobox Design</title>

  <link rel="stylesheet" href="combobox.css">
  <script src="combobox.js" defer></script>
</head>

<body
  style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
  <!-- <div style="flex-grow: 1;"></div> -->
  <div class="outliner">
    <div class="awtpi-combobox" data-disabled="false">
      <div class="awtpi-combobox-input-wrapper">
        <input type="text" class="awtpi-combobox-input" placeholder="Select an option">
        <input type="hidden" class="awtpi-combobox-value" name="combobox">
        <div class="awtpi-combobox-arrow"></div>
      </div>
      <div class="awtpi-combobox-dropdown">
        <div class="awtpi-combobox-option" data-value="1">abcde</div>
        <div class="awtpi-combobox-option" data-value="2">defgh</div>
        <div class="awtpi-combobox-option" data-value="3">ghijk</div>
        <div class="awtpi-combobox-option" data-value="4">jklmn</div>
        <div class="awtpi-combobox-option" data-value="5">mnopq</div>
        <div class="awtpi-combobox-option" data-value="6">pqrst</div>
        <div class="awtpi-combobox-option" data-value="7">stuvw</div>
        <div class="awtpi-combobox-option" data-value="8">uvwxy</div>
        <div class="awtpi-combobox-option" data-value="9">wxyz</div>
      </div>
    </div>
  </div>
</body>

</html>